
#clockContainer{
    position: relative;
    /* height: 4vw;
    width: 40vw; */
    height: 440px;
    width: 440px;
    background: url('/best-photos-of-analog-clock-template-11549790411qdlzkcpjwm.png') no-repeat;
    margin: auto;
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    height: 24%;
    width: 1.8%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    height: 30%;
    width: 1.6%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#second {
    height: 36%;
    width: 1%;
    top: 12%;
    left: 49.25%;
    opacity: 0.8;
}